@media screen and (max-width: 1300px)
  .box-google
    .header
      &-search
        &-logo
          margin-left: calc((100vw - 1100px) / 2)
        &__search
          width: 550px
    .container-google
      //padding: 0 20px 0 9%
      padding-left: calc((100vw - 1068px) / 2)

@media screen and (max-width: 1120px)
  .box-google
    .header
      &-search
        //&__wrapper
        //  width: 1111px
        &-logo
          margin-left: 10px
        &__search
          width: 550px
    .container-google
      //padding: 0 20px 0 9%
      padding-left: 25px

@media screen and (max-width: 1120px) and (orientation: landscape)
  .box-google
    .header
      &-search
        &__wrapper
          width: 1111px